"<div class="container">
	<div class="text-center">
		<h1>Parks</h1>
	</div>

	 <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Nets</th>
        <th>Opening Time</th>
        <th>Closing Time</th>
      </tr>
    </thead>
    <tbody>
    	<% @parks.each do |t| %>
      <tr>
        <td><%= t.name %></td>
        <td><%= t.street %></td>
        <td><%= t.city %></td> 
        <td><%= t.state %></td> 
        <td><%= t.zip %></td> 
        <td><%= t.nets %></td> 
        <td><%= t.opening_time %></td> 
        <td><%= t.closing_time %></td> 
        <td><%= link_to "Edit Park", edit_park_path(t) %></td>
        <td><%= link_to "Delete Park", park_path(t), method: :delete, data: {confirm: "Are you sure?"} %><td>
      </tr>
       <% end %>
    </tbody>
  </table>
	

</div>
<div class="container">
  <div class="text-center">
<p> <%= link_to "Add a new Park", new_park_path %> </p>
</div>
</div>





<h1>Google Maps</h1>
    <div id="map"></div>
    <script>

      
      function initMap(){

        // map options 
        var options = {
          zoom:8,
          center:{lat: 440.7203,lng:-73.8812}
        }

        // new map 
        var map = new google.maps.Map(document.getElementById('map'), options);

        // add marker
        var marker = new google.maps.Marker({
          position: {
            lat:40.6782,
            lng:-73.9442
          },
          map:map
        })
      }

      setTimeout(initMap, 10)

    </script>
    <script 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGMt_iOISz_BWdQJp0SlJfqoVwV_BHSvM">

</script>

