<h1>Add a new Pickup Game</h1>

<%= form_for @pickup, url: '/pickup' do |f| %>

<p>Date and Time <%= f.text_field :date_time %></p>

<p>Drinks Provided <%= f.text_field :drink_provided %></p>

<%= f.hidden_field :creator_id, :value => current_creator.id %>

<%= f.hidden_field :park_id, :value => current_park.id %>

<%= submit_tag "Add"%>

<% end %>