
<%= bootstrap_form_for(@players, layout: :horizontal) do |t| %>
			<p><%= t.text_field :first_name %></p>
			<p><%= t.text_field :last_name %></p>
			<p><%= t.text_field :position %></p>
			<p><%= t.text_field :favorite_team %></p>
			<p><%= t.text_field :extra_equipment %></p>
			<p><%= t.text_field :bio %></p>
			
		<div class="text-center">
				<%= submit_tag "Confirm" %>
		</div>
		<% end %>