<div class="container">
	<div class="text-center">
		<h1>Players</h1>
	</div>

	 <table class="table table-striped">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
        <th>Favorite team</th>
        <th>Extra Equipment</th>
        <th>Bio</th>
      </tr>
    </thead>
    <tbody>
    	<% @player.each do |t| %>
      <tr>
        <td><%= t.first_name %></td>
        <td><%= t.last_name %></td>
        <td><%= t.position %></td> 
        <td><%= t.favorite_team %></td> 
        <td><%= t.extra_equipment %></td> 
        <td><%= t.bio %></td>   
        <td><%= link_to "Edit player", edit_player_path(t) %></td>
        <td><%= link_to "Delete Player", player_path(t), method: :delete, data: {confirm: "Are you sure?"} %><td>
      </tr>
       <% end %>
    </tbody>
  </table>
	

</div>
<div class="container">
  <div class="text-center">
<p> <%= link_to "Add a new Player", new_player_path %> </p>
</div>
</div>
