<!DOCTYPE html>
<html>
  <head>
    <title>Soccer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<!-- Just an image -->
  <nav class="navbar navbar-light bg-faded">

  <a class="navbar-brand" href="home"> 
    <img src="logo.png" width="100" height="100" alt=""> 
  </a>
</nav>





    <!-- Page Content -->
    <div id="content">
        
    </div>

</div>   



<div class="container"> 

 <img src="soccer.jpg" class="img-responsive" alt="soccer" width="1300" height="400"> 
 </div>




  <div class="page-header">
  <h1>The beautiful Game </h1>
</div>
    





<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
    <%= yield %>
</div>


<footer>
<div class="footer">
  



  <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h2 class="title">The Beautiful Game</h2>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
               
                
                    <li><%= link_to "Players", players_path %>
                    </li>
                    <li><%= link_to "Parks", parks_path %></li>
                    <li><%= link_to "Create your pickup game", new_pickup_path %></li>
                    
                    
                
            </div>

</div>

</footer>

 






  </body>
</html>
